<h2>All tickets written by Officer <%=@officer.name%></h2>

<div class="d-flex flex-row-reverse">
  <%= paginate @ticketswritten, theme:'bootstrap-5'%>
</div>
<div class="row mt-5">
 <% @ticketswritten.each do |ticketwritten| %>
  <div class="col-sm-3">
    <div class="card h-100" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%=ticketwritten.ticket_number%></h5>
        <%= link_to "See ticket details", ticketwritten, class: "btn btn-primary"%>
      </div>
    </div>
</div>
<%end%>
</div>
