<p class="mb-5">
  Your search for <%=params[:keywords]%> found <%= pluralize(@tickets.count, 'ticket')%>
</p>
<ul>
  <% @tickets.each do |ticket|%>
  <li><%= link_to ticket.ticket_number, ticket%></li>
  <%end%>
</ul>