<h1>All Violation Categories</h1>

<div class="d-flex flex-row-reverse">
  <%= paginate @categories, theme:'bootstrap-5'%>
</div>
<div class="row">
 <% @categories.each do |category| %>
  <div class="col-sm-3">
    <div class="card h-100" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%=category.name%></h5>
        <%= link_to "See violation details", category, class: "btn btn-primary"%>
      </div>
    </div>
</div>
<%end%>
</div>

